@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,700&display=swap");

/*  color varables  */
:root {
  --background-color: #424242;
  --foreground-color: #fff;
  --foreground-color-alt: #000;
  --left-bg-color: #212121;
  --right-bg-color: #bdb9b7;
  --container-color: #efebe9;
  --section-color: #fff;
  --section-border-radius: 14px;
}

/*  reset  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
html {
  scroll-behavior: smooth !important;
}

/*  Pozicioniranje  */
html,
body,
.main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

/*  Main drzi sve  */
.main {
  display: flex;
  background-color: var(--container-color);
  color: var(--foreground-color);
}

.main a {
  color: var(--foreground-color);
}

/* Mali kontakt slideout */
.contact-popup {
  display: flex;
  flex-direction: column;
  z-index: 30000;
  color: #000;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.1s ease-out;
}

.expand-contact {
  height: 50px;
}

/*  Sidebar taskbar (ikonice)  */
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 65px;
  height: 100%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translate(65px, 0px);
  transition: transform 0.25s ease-in;
}

/*  Mali avatar na vrhu sidebar-a */
.avatar-sidebar {
  position: absolute;
  background-image: url("../src/gallery/Avatar.jpeg");
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 30%;
  top: 13px;
}

.sidebar i,
.sidebar a {
  text-align: center;
  font-size: 2rem;
}

/*  Flex razno  */
.about-wrapper,
.left,
.right {
  display: flex;
  flex-direction: column;
}

.left,
.right {
  position: relative;
}

/*  left je full sidebar zapravo  */
.left {
  background-color: var(--left-bg-color);
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
  align-items: center;
  /*border-radius: 0 12px 12px 0;*/
  border-radius: 0;
  transition: 0.3s all ease;
  z-index: 2;
}

@media only screen and (min-width: 1100px) {
  .left {
    width: 440px;
    min-width: 440px;
  }
}

/*  Veliki avatar u Landing Section-u  */
.left-avatar {
  position: relative;
  background-color: #fff;
  margin-top: 12vh;
  width: 220px;
  height: 220px;
  background-image: url("../src/gallery/Avatar.jpeg");
  background-position: center;
  background-size: 115%;
  border-radius: 50%;
  overflow: hidden;
  transition: height, width 0.08s ease-out;
}

/*  Div unutar Landing Section-a koji drzi njegov content  */
#left-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 0.3s all ease;
}

/*  Dugme za zatvaranje Landing Section-a  */
.left-close-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 2rem;
  z-index: 1000;
  transition: transform 0.4s ease;
}

/*  Drzi tekst, soctial section i CTA drugme  */
.about-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding: 0 3.2rem;
  flex-wrap: nowrap;
}

.about-wrapper p {
  max-width: 580px;
  text-align: justify;
}

/*  Soctial ikonice za Landing section  */
.social {
  font-size: 2rem;
  margin-top: 0.6rem;
}

/*  Social section za sidebar  */
.social-sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  font-size: 1.6rem;
}

/*  CTA dugme / zameniti naziv u CTA button  */
.saznaj-vise {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  margin: 1.4rem;
  border-radius: 20px;
  background-color: gray;
  cursor: pointer;
}

/*  Right section  */
.right {
  flex: 1;
  margin-left: 65px;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .right {
    align-items: center;
  }
}

@media only screen and (min-width: 1100px) {
  .right {
    width: 100%;
    padding-left: 400px;
    flex: 1;
  }

  .right-full {
    width: 100%;
    position: absolute;
  }
}

/*  Klasa za flip dugme  */
.rotate {
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}

/*  Klasa za sakrivanje Landing Section-a  */
.right-expand {
  border-radius: 0 12px 12px 0;
  transform: translate(calc(-100% + 65px), 0px);
}

/*  Klasa za pokazivanje sidebar-a  */
.sidebar-toggle {
  transform: translate(0px, 0px);
  transition: transform 0.25s ease-in;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

@media only screen and (min-width: 700px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 940px;
    padding-top: 3rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.text,
.column-head,
.header {
  font-size: 1rem;
  margin: 0.4rem 0.3rem;
  color: var(--foreground-color-alt);
  font-weight: 600;
  padding: 1.7rem 2rem;
  border-radius: var(--section-border-radius);
  background: var(--section-color);
}

.text {
  text-indent: 1rem;
}

.header {
  width: 100%;
  transition: all 0.3 ease;
}

.header-link-holder {
  padding: 1rem;
}

.header i,
.header a {
  padding: 0 0.2rem;
  color: var(--foreground-color-alt);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4px;
}

@media only screen and (min-width: 1100px) {
  .row {
    width: 100%;
  }
}

/* Kolone za galeriju */
.column {
  width: 50%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.column img {
  position: relative;
  margin-top: 10px;
  vertical-align: middle;
  max-height: 930px;
  border-radius: var(--section-border-radius);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-head {
  text-align: center;
  margin-top: 2.3rem;
  margin-bottom: 1rem;
}

.gallery {
  width: 80%;
}

@media only screen and (min-width: 1100px) {
  .gallery {
    width: 80%;
    display: flex;
    justify-content: center;
  }
}

/* Kada je ispod */
@media screen and (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;
    flex-grow: 1;
  }

  .left-avatar {
    width: 190px;
    height: 190px;
  }
}

/* Kada je preko - Proemeni ime klase, ovo nista ne znaci  */
@media only screen and (min-width: 1100px) {
  .testexpand {
    padding-left: 0;
  }
}

/* Image modal */

.fullscreen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  z-index: 100000000000;
}

.fullscreen-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.fullscreen-image img {
  max-height: 80%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .fullscreen-image img {
    max-height: auto;
    max-width: 80%;
  }
}

#fullscreen i {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  background: #000;
  padding: 1rem;
  border-radius: 25%;
  z-index: 100000000001;
}

.footer {
  color: #000;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2.2rem;
}

.footer small {
  padding: 0.2rem 0;
}
